---
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillCard from "../components/SkillCard.astro";
import Title from "../components/Title.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name='description' content="Minimalist Portfolio"/>
		<title>VishnuSudheesh</title>
	</head>
	<body>
		<header><Navbar /></header>
		<main>
			<section class="about">
				<img src='dragon.png' alt='profile picture'/>
				<article>
					<p>Hi!, I'm Vishnu Sudheesh</p>
					<Title text='Software Developer '/>
				</article>
				<Button message='Latest Posts' icon='/external-link.svg' link='https://www.linkedin.com/in/vishnu-sudheesh-37905a260/'/>
			</section>
			<section class="skills">
				<Title text='Skills & Technologies'/>
				<section>
					<SkillCard 
						title='Frontend Development'
						description=' HTML ,CSS, React js, Nextjs 14  ,JavaScript ,Typscript ,Tailwind '
						icon='/server.svg'
					/>
					<SkillCard 
						title='Backend Development'
						description='Node js , Express js ,Bun js '
						icon='/server.svg'
					/>
					<SkillCard 
						title='Databases'
						description='MongoDB  , Redis'
						icon='/server.svg'
					/>
					<SkillCard 
						title='DevOps'
						description='Docker ,Git,Github'
						icon='/server.svg'
					/>
				</section>
			</section>
			<section class="work">
				<Title text='My Work'/>
				<section>
					<ProjectCard 
					title='Homyz - a real estate app'
					description='React js,Javascript,Node js,Express js,Mongo db,Framermotion,Auth0'
					link='https://real-estate-app-9j2l.vercel.app/'
					/>
					
					<ProjectCard 
						title='Drokygram - A socialmedia app'
						description='React js,Javascript,Node js, Express Js, MongoDB, Formik, Multer, jwt'
						link='https://github.com/vishnus111/drokygram'
					/>
					<ProjectCard 
						title='Fiverr clone'
						description='React js,Javascript,Node js, Express Js, MongoDB, '
						link='https://github.com/vishnus111/fiver-clone'
					/>
					
				</section>
				
			</section>
			<section class="contact">
				<Title text='Tell me about your next project'/>
				<Button message='Send Message' icon='/email.svg' link='mailto:vishnusudeesh390@gmail.com'/>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		box-sizing: border-box;
	}

	main {
		margin: 50px auto 0 auto;
		max-width: 1020px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 100px;
	}

	.about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
		width: 100%;
		height: calc(100vh - 50px);
		text-align: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0 20px;
	}

	.about > img {
		width: 150px;
		border-radius: 9999px;
		object-fit: cover;
	}

	.about > article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.skills > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.work {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}
	
	.work > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		width: 100%;
		padding: 0px 20px 100px 20px;
	}

	@media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}

		.about > img {
			width: 100px;
		}
	}
</style>
